<div class="section-block m-4">
    <h1 class="section-title">FAQ</h1>

    <div class="faq">
	  <div class="question">
	    <div class="arrow"></div>
	    <h3>What is the EMBL PhD symposium about?</h3>
	  </div>
	  <div class="answer">
	    <p>The EMBL PhD Symposium has been arranged by EMBL PhD students with the aim of creating an occasion for connecting young researchers and high-profile scientists. The focus of this year's Symposium is on the topic "The Power of Many: Collective Behaviour Across Scales".</p>
	  </div>
	  <hr class="faq-line">
	</div>

	<div class="faq">
	  <div class="question">
	    <div class="arrow"></div>
	    <h3>Who can attend the symposium?</h3>
	  </div>
	  <div class="answer">
	    <p>Although the symposium is primarily directed towards PhD students, everybody is welcome to participate in it!</p>
	  </div>
	  <hr class="faq-line">
	</div>

	<div class="faq">
	  <div class="question">
	    <div class="arrow"></div>
	    <h3>Where is the symposium being held?</h3>
	  </div>
	  <div class="answer">
	    <p>The venue for the symposium is EMBL Heidelberg, located at Meyerhofstraße 1, 69117 Heidelberg, Germany. Remote participation through virtual means is also available.</p>
	  </div>
	  <hr class="faq-line">
	</div>

	<div class="faq">
	  <div class="question">
	    <div class="arrow"></div>
	    <h3>How much does it cost?</h3>
	  </div>
	  <div class="answer">
	    <p>Registration fees are 200€ for Bachelor/Master students, 300€ for PhD students and 400€ for Academic participants. The fee for online participation is 25€, independent of your academic status. Apart from the talks, on-site fees include catering (coffee breaks, lunch, and dinner) and networking events with food and drinks. The registration fees do not include expenses for accommodation, however hotels recommended by EMBL can be found <a class="custom-link" href="https://www.embl.org/sites/heidelberg/accommodation/">here</a>.</p>
	  </div>
	  <hr class="faq-line">
	</div>

	<div class="faq">
	  <div class="question">
	    <div class="arrow"></div>
	    <h3>Until when can I register?</h3>
	  </div>
	  <div class="answer">
	    <p>Registration is possible until October 6th, 2023.</p>
	  </div>
	  <hr class="faq-line">
	</div>

	<div class="faq">
	  <div class="question">
	    <div class="arrow"></div>
	    <h3>Can I submit an abstract for a talk and/or poster presentation?</h3>
	  </div>
	  <div class="answer">
	    <p>Certainly! Individuals who have registered to attend the symposium in person are encouraged to submit their abstracts, specifying their preference for either a talk or a poster presentation. The organising committee will review the submitted abstracts after the deadline and select the participants for the flash talks. If your abstract is selected for a poster, you will also have the opportunity to give a one minute/one slide introduction in the main auditorium before the poster session. Online participants will also have the opportunity to present posters.</p>
	  </div>
	  <hr class="faq-line">
	</div>

	<div class="faq">
	  <div class="question">
	    <div class="arrow"></div>
	    <h3>Is there a deadline for submitting abstracts for a talk and/or poster presentation?</h3>
	  </div>
	  <div class="answer">
	    <p>Yes, the deadline for abstract submission is 25th of August, 2023.</p>
	  </div>
	  <hr class="faq-line">
	</div>

	<div class="faq">
	  <div class="question">
	    <div class="arrow"></div>
	    <h3>How do I submit an abstract?</h3>
	  </div>
	  <div class="answer">
	    <p>Abstracts can only be submitted by registered applicants, and the link for abstract submission is provided in the confirmation email.</p>
	  </div>
	  <hr class="faq-line">
	</div>

	<div class="faq">
	  <div class="question">
	    <div class="arrow"></div>
	    <h3>Do I need to submit an abstract to participate in the symposium?</h3>
	  </div>
	  <div class="answer">
	    <p>While we encourage abstract submissions, we don’t require abstracts to participate in the symposium.</p>
	  </div>
	  <hr class="faq-line">
	</div>

	<div class="faq">
	  <div class="question">
	    <div class="arrow"></div>
	    <h3>Is there a conference hotel? How do I make a reservation?</h3>
	  </div>
	  <div class="answer">
	    <p>The registration fee does not cover accommodation expenses, but EMBL-recommended hotels are listed <a class="custom-link" href="https://www.embl.org/sites/heidelberg/accommodation/">here</a>.</p>
	  </div>
	  <hr class="faq-line">
	</div>

	<div class="faq">
	  <div class="question">
	    <div class="arrow"></div>
	    <h3>How can I reach EMBL by public transportation from downtown Heidelberg?</h3>
	  </div>
	  <div class="answer">
	    <p>Please visit the <a class="custom-link" href="https://www.embl.org/about/info/course-and-conference-office/information-for-participants/travel-information/">travel information page</a> for details.</p>
	  </div>
	  <hr class="faq-line">
	</div>

	<div class="faq">
	  <div class="question">
	    <div class="arrow"></div>
	    <h3>Will the presentations be recorded and available for viewing after the symposium?</h3>
	  </div>
	  <div class="answer">
	    <p>We are using an event platform for this conference. This includes access to all livestreamed talks, a video library of recorded talks during and after the event (two weeks), and the opportunity to submit questions for all registered participants.</p>
	  </div>
	  <hr class="faq-line">
	</div>

	<div class="faq">
	  <div class="question">
	    <div class="arrow"></div>
	    <h3>How can I contact the conference organisers if I have additional questions or concerns?</h3>
	  </div>
	  <div class="answer">
	    <p>Do not hesitate to reach out to <a class="custom-link" href="mailto:phdsymposium23@embl.de">phdsymposium23@embl.de</a> for any inquiries or concerns you may have.</p>
	  </div>
	  <hr class="faq-line">
	</div>

	<div class="faq">
	  <div class="question">
	    <div class="arrow"></div>
	    <h3>What is the cancellation policy?</h3>
	  </div>
	  <div class="answer">
	    <p>Please refer to the General <a class="custom-link" href="https://www.embl.org/about/info/course-and-conference-office/information-for-participants/terms-and-conditions/">Terms and Conditions</a> for the cancellation policy. In urgent cases you can contact us at <a class="custom-link" href="mailto:phdsymposium23@embl.de">phdsymposium23@embl.de</a>.</p>
	  </div>
	  <hr class="faq-line">
	</div>

	<script src="scripts/faq.js"></script>

</div>