<div class="section-block m-4">
    <h1 class="section-title">FAQ</h1>

    <button class="btn btn-secondary btn-block mb-3 text-left faq-question" onclick="toggleText('question1')">What is the EMBL PhD symposium about?
    </button>
	<p id="question1" class="faq-answer" style="display:none;">The EMBL PhD Symposium has been arranged by EMBL PhD students with the aim of creating an occasion for connecting young researchers and high-profile scientists. The focus of this year's Symposium is on the topic "The Power of Many: Collective Behaviour Across Scales".</p>

	<button class="btn btn-secondary btn-block mb-3 text-left faq-question" onclick="toggleText('question2')">What is the symposium schedule?</button>
	<p id="question2" class="faq-answer"style="display:none;">TBD</p>

	<button class="btn btn-secondary btn-block mb-3 text-left faq-question" onclick="toggleText('question3')">Who are the keynote speakers for the symposium?</button>
	<p id="question3" class="faq-answer" style="display:none;">TBD2</p>

	<script src="scripts/faq_toggle_text.js"></script>

</div>