<div class="section-block m-4">
    <h1 class="section-title">FAQ</h1>

    <button class="btn btn-secondary btn-block mb-3 text-left faq-question" onclick="toggleText('question1')">What is the EMBL PhD symposium about?
    </button>
	<p id="question1" class="faq-answer" style="display:none;">The EMBL PhD Symposium has been arranged by EMBL PhD students with the aim of creating an occasion for connecting young researchers and high-profile scientists. The focus of this year's Symposium is on the topic "The Power of Many: Collective Behaviour Across Scales".</p>

	<button class="btn btn-secondary btn-block mb-3 text-left faq-question" onclick="toggleText('question2')">Who can attend the symposium?</button>
	<p id="question2" class="faq-answer"style="display:none;">Although the symposium is primarily directed towards PhD students, everybody is welcome to participate in it!</p>

	<button class="btn btn-secondary btn-block mb-3 text-left faq-question" onclick="toggleText('question3')">Where is the symposium being held?</button>
	<p id="question3" class="faq-answer" style="display:none;">The venue for the symposium is EMBL Heidelberg, located at Meyerhofstraße 1, 69117 Heidelberg, Germany. Remote participation through virtual means is also available.</p>

	<button class="btn btn-secondary btn-block mb-3 text-left faq-question" onclick="toggleText('question4')">How much does it cost?</button>
	<p id="question4" class="faq-answer" style="display:none;">
	Registration fees are 200€ for Bachelor/Master students, 300€ for PhD students and 400€ for Academic participants. The fee for online participation is 25€, independent of your academic status. Apart from the talks, on-site fees include catering (coffee breaks, lunch, and dinner) and networking events with food and drinks. The registration fees do not include expenses for accommodation, however EMBL-recommended hotels can be found <a href="https://www.embl.org/sites/heidelberg/accommodation/">here</a>.
	</p>

	<button class="btn btn-secondary btn-block mb-3 text-left faq-question" onclick="toggleText('question5')">Until when can I register?</button>
	<p id="question5" class="faq-answer" style="display:none;">
	Registration is possible until October 6th, 2023.
	</p>

	<button class="btn btn-secondary btn-block mb-3 text-left faq-question" onclick="toggleText('question6')">Can I submit an abstract for a talk and/or poster presentation?</button>
	<p id="question6" class="faq-answer" style="display:none;">
	Certainly! Individuals who have registered to attend the symposium in person are encouraged to submit their abstracts, specifying their preference for either a talk or a poster presentation. The organising committee will review the submitted abstracts after the deadline and select the participants for the flash talks. If your abstract is selected for a poster, you will also have the opportunity to give a one minute/one slide introduction in the main auditorium before the poster session. Online participants will also have the opportunity to present posters.
	</p>

	<button class="btn btn-secondary btn-block mb-3 text-left faq-question" onclick="toggleText('question7')">Is there a deadline for submitting abstracts for a talk and/or poster presentation?</button>
	<p id="question7" class="faq-answer" style="display:none;">
	Yes, the deadline for abstract submission is 25th of August, 2023.
	</p>

	<button class="btn btn-secondary btn-block mb-3 text-left faq-question" onclick="toggleText('question8')">How do I submit an abstract?</button>
	<p id="question8" class="faq-answer" style="display:none;">
	Abstracts can only be submitted by registered applicants, and the link for abstract submission is provided in the confirmation email.
	</p>

	<button class="btn btn-secondary btn-block mb-3 text-left faq-question" onclick="toggleText('question9')">Do I need to submit an abstract to participate in the symposium?</button>
	<p id="question9" class="faq-answer" style="display:none;">
	While we encourage abstract submissions, we don’t require abstracts to participate in the symposium.
	</p>

	<button class="btn btn-secondary btn-block mb-3 text-left faq-question" onclick="toggleText('question10')">Is there a conference hotel? How do I make a reservation?</button>
	<p id="question10" class="faq-answer" style="display:none;">
	The registration fee does not cover accommodation expenses, but EMBL-recommended hotels are listed <a href="https://www.embl.org/sites/heidelberg/accommodation/">here</a>.
	</p>

	<button class="btn btn-secondary btn-block mb-3 text-left faq-question" onclick="toggleText('question11')">How can I reach EMBL by public transportation from downtown Heidelberg?</button>
	<p id="question11" class="faq-answer" style="display:none;">
	Please visit the <a href="https://www.embl.org/about/info/course-and-conference-office/information-for-participants/travel-information/">travel information page</a> for details.
	</p>

	<button class="btn btn-secondary btn-block mb-3 text-left faq-question" onclick="toggleText('question12')">Will the presentations be recorded and available for viewing after the symposium?</button>
	<p id="question12" class="faq-answer" style="display:none;">
	We are using an event platform for this conference. This includes access to all livestreamed talks, a video library of recorded talks during and after the event (two weeks), and the opportunity to submit questions for all registered participants.
	</p>

	<button class="btn btn-secondary btn-block mb-3 text-left faq-question" onclick="toggleText('question13')">How can I contact the conference organizers if I have additional questions or concerns?</button>
	<p id="question13" class="faq-answer" style="display:none;">
	Do not hesitate to reach out to <a href="mailto:phdsymposium23.participants@embl.de">phdsymposium23.participants@embl.de</a> for any inquiries or concerns you may have.
	</p>

	<button class="btn btn-secondary btn-block mb-3 text-left faq-question" onclick="toggleText('question14')">What is the cancellation policy?</button>
	<p id="question14" class="faq-answer" style="display:none;">
	Please refer to the General <a href="https://www.embl.org/about/info/course-and-conference-office/information-for-participants/terms-and-conditions/">Terms and Conditions</a> for the cancellation policy. In urgent cases you can contact us at <a href="mailto:phdsymposium23.participants@embl.de">phdsymposium23.participants@embl.de</a>.
	</p>


	<script src="scripts/faq_toggle_text.js"></script>

</div>