<div class="footer-container p-3 justify-content-center d-flex align-items-center">
    <div class="social-media-container justify-content-center d-flex align-items-center">
        <a href="https://twitter.com/emblphdsymp" class="fa fa-twitter fa-3x"></a>
    </div>

    <div class="social-media-container justify-content-center d-flex align-items-center">
        <a href="https://instagram.com/phdsymposium" class="fa fa-instagram fa-3x"></a>
    </div>

    <div class="social-media-container justify-content-center d-flex align-items-center">
        <a href="https://www.linkedin.com/in/embl-phd-symposium-511a9823a" class="fa fa-linkedin fa-3x"></a>
    </div>

    <div class="social-media-container justify-content-center d-flex align-items-center">
        <a href="mailto:phdsymposium2023@embl.de" class="fa fa-envelope fa-3x"></a>
    </div>
</div>
