<div class="footer-container p-3 justify-content-center">
    <a class="m-3" href="https://www.facebook.com"><img src="assets/social_media/facebook.png" alt="Facebook" width=5%></a>
    <a class="m-3" href="https://www.twitter.com"><img src="assets/social_media/twitter.png" alt="Twitter" width=5%></a>
    <a class="m-3" href="https://www.instagram.com"><img src="assets/social_media/instagram.png" alt="Instagram" width=5%></a>
    <a class="m-3" href="https://www.linkedin.com"><img src="assets/social_media/linkedin.png" alt="LinkedIn" width=5%></a>
    <a class="m-3"><img src="assets/social_media/mail.png" alt="Mail" width=5%></a>
</div>
