<div class="d-flex flex-column justify-content-center w-100 h-100">

	<div class="header d-flex flex-column">
		<h1 class="title text-white m-4">POWER OF MANY</h1>
		<h1 class="text-white m-4 subtitle">COLLECTIVE BEHAVIOUR<br> ACROSS SCALES</h1>
		<a href="https://manuel.pinto.dev" class="text-decoration-none">
			<h5 class="info text-white m-4">25th EMBL PhD Symposium &#x2022 20-22 November &#x2022 EMBL Heidelberg</h5>
		</a>
    <div class="d-grid gap-2 d-md-block my-5">
			<a href="https://codepen-api-export-production.s3.us-west-2.amazonaws.com/zip/PEN/pyBNzX/1578778289271/pure-css-gradient-background-animation.zip" class="btn btn-outline-light m-4 btn-lg" aria-current="page"> REGISTER</a>
			<a href="https://codepen.io/P1N2O/full/pyBNzX" class="btn btn-outline-light m-2 btn-lg">PRESENT A POSTER </a>
		</div>
	</div>
</div>
</div>
<div class="pickupper invitation-block m-4">
  You are <p id="catchupline" style="display: inline;">a PhD student</p>
</div>