<div class="d-flex flex-column justify-content-center w-100 h-100">

	<div class="header d-flex flex-column">
		<h1 class="title text-white">POWER OF MANY</h1>
		<h1 class="text-white subtitle">COLLECTIVE BEHAVIOUR<br> ACROSS SCALES</h1>
		<div class="info-container">
			<h5 class="info-bold text-white">25th EMBL PhD Symposium</h5>
			<h5 class="info text-white">20-22 November</h5>
			<h5 class="info text-white">EMBL Heidelberg</h5>
		</div>
		<!--tmp><button class="register-button" onclick="window.location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'">REGISTER NOW <img src="assets/external_link_icon.png" alt="Logo" width=30vh></button><!-->
		<button class="register-button" onclick="window.location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'">
		  REGISTER NOW
		  <i class="fa fa-external-link"></i>
		</button>
	</div>
</div>
</div>