<div class="section-block m-4">
    <h1 class="section-title">PROGRAMME</h1>

    <button class="btn btn-secondary btn-block mb-3 text-left faq-question" onclick="toggleText('day1')">Monday, November 20, 2023
    </button>
    
    <div id="day1" style="display:none;">
      <div class="d-flex">
        <div class="programme-bg programme-admin">
          <p class="programme-time text-center">08:00-09:30</p>
        </div>
        <p class="programme-content">Registration</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-admin">
          <p class="programme-time text-center">09:30-09:45</p>
        </div>
        <p class="programme-content">Introduction</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-talk">
          <p class="programme-time text-center">09:45-10:45</p>
        </div>
        <p class="programme-content">Keynote Talk</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-talk">
          <p class="programme-time text-center">11:00-11:45</p>
        </div>
        <p class="programme-content">Talk 2</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-talk">
          <p class="programme-time text-center">11:45-12:30</p>
        </div>
        <p class="programme-content">Talk 3</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-break">
          <p class="programme-time text-center">12:30-13:30</p>
        </div>
        <p class="programme-content">Lunch Break</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-talk">
          <p class="programme-time text-center">13:30-14:15</p>
        </div>
        <p class="programme-content">Talk 4</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-talk">
          <p class="programme-time text-center">14:15-15:00</p>
        </div>
        <p class="programme-content">Talk 5</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-talk">
          <p class="programme-time text-center">16:00-16:15</p>
        </div>
        <p class="programme-content">Edith Heard</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-admin">
          <p class="programme-time text-center">16:15-16:30</p>
        </div>
        <p class="programme-content">Introduction to Networking Event, Tour and Workshops</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-talk">
          <p class="programme-time text-center">16:30-17:00</p>
        </div>
        <p class="programme-content">Flash Talks</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-admin">
          <p class="programme-time text-center">17:00-17:15</p>
        </div>
        <p class="programme-content">Group Photo</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-admin">
          <p class="programme-time text-center">17:15-17:30</p>
        </div>
        <p class="programme-content">Tombola</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-talk">
          <p class="programme-time text-center">17:30-19:00</p>
        </div>
        <p class="programme-content">Poster Session</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-break">
          <p class="programme-time text-center">19:00-20:00</p>
        </div>
        <p class="programme-content">Dinner</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-break">
          <p class="programme-time text-center">20:00-22:00</p>
        </div>
        <p class="programme-content">Rooftop Drinks and Science Slam</p>
      </div>
    </div>

    <button class="btn btn-secondary btn-block mb-3 text-left faq-question" onclick="toggleText('day2')">Tuesday, November 21, 2023
    </button>
    
    <div id="day2" style="display:none;">
      <div class="d-flex">
        <div class="programme-bg programme-break">
          <p class="programme-time text-center">08:30-09:00</p>
        </div>
        <p class="programme-content">Breakfast</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-talk">
          <p class="programme-time text-center">09:00-09:45</p>
        </div>
        <p class="programme-content">Talk 7</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-talk">
          <p class="programme-time text-center">09:45-10:30</p>
        </div>
        <p class="programme-content">Talk 8</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-talk">
          <p class="programme-time text-center">10:45-11:30</p>
        </div>
        <p class="programme-content">Talk 9</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-admin">
          <p class="programme-time text-center">11:30-12:30</p>
        </div>
        <p class="programme-content">EMBL Tour and Workshops</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-break">
          <p class="programme-time text-center">12:30-13:30</p>
        </div>
        <p class="programme-content">Lunch Break</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-talk">
          <p class="programme-time text-center">13:30-14:15</p>
        </div>
        <p class="programme-content">Talk 10</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-talk">
          <p class="programme-time text-center">14:15-15:00</p>
        </div>
        <p class="programme-content">Talk 11</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-talk">
          <p class="programme-time text-center">15:15-16:00</p>
        </div>
        <p class="programme-content">Talk 12</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-admin">
          <p class="programme-time text-center">16:00-16:30</p>
        </div>
        <p class="programme-content">Meet the Speakers</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-admin">
          <p class="programme-time text-center">16:30-17:30</p>
        </div>
        <p class="programme-content">Treasure Hunt</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-talk">
          <p class="programme-time text-center">17:30-18:00</p>
        </div>
        <p class="programme-content">Flash Talks</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-talk">
          <p class="programme-time text-center">18:00-19:30</p>
        </div>
        <p class="programme-content">Poster Session</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-break">
          <p class="programme-time text-center">19:30-20:30</p>
        </div>
        <p class="programme-content">Dinner</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-break">
          <p class="programme-time text-center">20:30-23:30</p>
        </div>
        <p class="programme-content">Party</p>
      </div>

    </div>

    <button class="btn btn-secondary btn-block mb-3 text-left faq-question" onclick="toggleText('day3')">Wednesday, November 22, 2023
    </button>
    
    <div id="day3" style="display:none;">
      <div class="d-flex">
        <div class="programme-bg programme-break">
          <p class="programme-time text-center">09:00-09:30</p>
        </div>
        <p class="programme-content">Breakfast</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-talk">
          <p class="programme-time text-center">09:30-10:15</p>
        </div>
        <p class="programme-content">Talk 13</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-talk">
          <p class="programme-time text-center">10:15-11:00</p>
        </div>
        <p class="programme-content">Talk 14</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-talk">
          <p class="programme-time text-center">11:15-12:00</p>
        </div>
        <p class="programme-content">Talk 15</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-admin">
          <p class="programme-time text-center">12:00-13:00</p>
        </div>
        <p class="programme-content">Panel Discussion</p>
      </div>

      <div class="d-flex">
        <div class="programme-bg programme-break">
          <p class="programme-time text-center">13:00-13:30</p>
        </div>
        <p class="programme-content">Lunch and Meet the Speakers</p>
      </div>
    </div>

</div>