<div class="section-block m-4">
    <h1 class="section-title">PROGRAMME</h1>

    <div class="programme-block">
      <div class="programme-day">
        <div class="arrow"></div>
        <h3>Monday, November 20</h3>
      </div>
      <div class="programme-content">
        <p>TBD</p>
      </div>
      <hr class="faq-line">
    </div>

    <div class="programme-block">
      <div class="programme-day">
        <div class="arrow"></div>
        <h3>Tuesday, November 21</h3>
      </div>
      <div class="programme-content">
        <p>TBD</p>
      </div>
      <hr class="faq-line">
    </div>

    <div class="programme-block">
      <div class="programme-day">
        <div class="arrow"></div>
        <h3>Wednesday, November 22</h3>
      </div>
      <div class="programme-content">
        <p>TBD</p>
      </div>
      <hr class="faq-line">
    </div>

    <script src="scripts/programme.js"></script>

</div>