<div class="section-block m-4">
    <h1 class="section-title">PROGRAMME</h1>
    <!--
      Ideally, we want this to be collapsible, but currently this messes up the scaling, so I removed it for now
    <button class="btn btn-secondary btn-block mb-3 text-left faq-question" onclick="toggleText('day1')">Monday, November 20, 2023
    </button>
    -->
    
    <table id="day1">
      <tr>
        <td class="table-header">Time</td>
        <td class="table-header">Topic</td>
      </tr>
      <tr>
        <td class="table-content">08:00-09:30</td>
        <td class="table-content">Registration</td>
      </tr>
      <tr>
        <td class="table-content">09:30-09:45</td>
        <td class="table-content">Introduction</td>
      </tr>
      <tr>
        <td class="table-content">09:45-10:00</td>
        <td class="table-content">Edith</td>
      </tr>
      <tr>
        <td class="table-content">10:00-10:45</td>
        <td class="table-content">Talk 1</td>
      </tr>
      <tr>
        <td class="table-header" colspan="2"> Lunch Break</td>
      </tr>
      <tr>
        <td class="table-content">13:00-23:45</td>
        <td class="table-content">Partyyy</td>
      </tr>
    </table>

</div>