<div class="section-block m-4">
    <h1 class="section-title">SPEAKERS</h1>

    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center mb-4 speaker-component" id="valsecchi-div" onclick="openModal('modal-valsecchi')">
        <div style="position: relative;">
          <div class="image-container">
              <div class="highlight-circle">
                <div class="circle-background"></div>
                <div class="image-container">
                  <img src="assets/speakers/valsecchi.jpg" class="rounded-circle speaker-image" alt="Speaker Image">
                </div>
              </div>
          </div>
          <img class="speaker-icon" src="assets/tracks/molecular.svg" alt="Speaker icon"></img>
        </div>
        <p class="speaker-name text-center">Claudia Keller Valsecchi</p>
        <hr class="speaker-line-molecular">
        <p class="speaker-affiliation text-center">IMB Mainz</p>
        <p class="speaker-country text-center">Germany</p>
      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center mb-4 speaker-component" id="chen-div" onclick="openModal('modal-chen')">
        <div style="position: relative;">
          <div class="image-container">
              <div class="highlight-circle">
                <div class="circle-background"></div>
                <div class="image-container">
                  <img src="assets/speakers/chen.png" class="rounded-circle speaker-image" alt="Speaker Image">
                </div>
              </div>
          </div>
          <img class="speaker-icon" src="assets/tracks/molecular.svg" alt="Speaker icon"></img>
        </div>
        <p class="speaker-name text-center">Fei Chen</p>
        <hr class="speaker-line-molecular">
        <p class="speaker-affiliation text-center">Broad Institute of MIT and Harvard</p>
        <p class="speaker-country text-center">USA</p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center mb-4 speaker-component"  id="scaffidi-div" onclick="openModal('modal-scaffidi')">
        <div style="position: relative;">
          <div class="image-container">
              <div class="highlight-circle">
                <div class="circle-background"></div>
                <div class="image-container">
                  <img src="assets/speakers/scaffidi.png" class="rounded-circle speaker-image" alt="Speaker Image">
                </div>
              </div>
          </div>
          <img class="speaker-icon" src="assets/tracks/molecular.svg" alt="Speaker icon"></img>
        </div>
        <p class="speaker-name text-center">Paola Scaffidi</p>
        <hr class="speaker-line-molecular">
        <p class="speaker-affiliation text-center">The Francis Crick Institute</p>
        <p class="speaker-country text-center">United Kingdom</p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center mb-4 speaker-component" id="ruprecht-div" onclick="openModal('modal-ruprecht')">
        <div style="position: relative;">
          <div class="image-container">
              <div class="highlight-circle">
                <div class="circle-background"></div>
                <div class="image-container">
                  <img src="assets/speakers/ruprecht.png" class="rounded-circle speaker-image" alt="Speaker Image">
                </div>
              </div>
          </div>
          <img class="speaker-icon" src="assets/tracks/behaviour.svg" alt="Speaker icon"></img>
        </div>
        <p class="speaker-name text-center">Verena Ruprecht</p>
        <hr class="speaker-line-behaviour">
        <p class="speaker-affiliation text-center">CRG Barcelona</p>
        <p class="speaker-country text-center">Spain</p>
      </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center mb-4 speaker-component" id="stehbens-div" onclick="openModal('modal-stehbens')">
        <div style="position: relative;">
          <div class="image-container">
              <div class="highlight-circle">
                <div class="circle-background"></div>
                <div class="image-container">
                  <img src="assets/speakers/stehbens.jpg" class="rounded-circle speaker-image" alt="Speaker Image">
                </div>
              </div>
          </div>
          <img class="speaker-icon" src="assets/tracks/behaviour.svg" alt="Speaker icon"></img>
        </div>
        <p class="speaker-name text-center">Samantha Stehbens</p>
        <hr class="speaker-line-behaviour">
        <p class="speaker-affiliation text-center">University of Queensland</p>
        <p class="speaker-country text-center">Australia</p>
      </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center mb-4 speaker-component" id="drescher-div" onclick="openModal('modal-drescher')">
        <div style="position: relative;">
          <div class="image-container">
              <div class="highlight-circle">
                <div class="circle-background"></div>
                <div class="image-container">
                  <img src="assets/speakers/drescher.jpeg" class="rounded-circle speaker-image" alt="Speaker Image">
                </div>
              </div>
          </div>
          <img class="speaker-icon" src="assets/tracks/multicellular.svg" alt="Speaker icon"></img>
        </div>
        <p class="speaker-name text-center">Knut Drescher</p>
        <hr class="speaker-line-multicellular">
        <p class="speaker-affiliation text-center">Biozentrum Basel</p>
        <p class="speaker-country text-center">Switzerland</p>
      </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center mb-4 speaker-component" id="laurent-div" onclick="openModal('modal-laurent')">
        <div style="position: relative;">
          <div class="image-container">
              <div class="highlight-circle">
                <div class="circle-background"></div>
                <div class="image-container">
                  <img src="assets/speakers/laurent.png" class="rounded-circle speaker-image" alt="Speaker Image">
                </div>
              </div>
          </div>
          <img class="speaker-icon" src="assets/tracks/multicellular.svg" alt="Speaker icon"></img>
        </div>
        <p class="speaker-name text-center">Gilles Laurent</p>
        <hr class="speaker-line-multicellular">
        <p class="speaker-affiliation text-center">MPI for Brain Research</p>
        <p class="speaker-country text-center">Germany</p>
      </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center mb-4 speaker-component" id="gartner-div" onclick="openModal('modal-gartner')">
        <div style="position: relative;">
          <div class="image-container">
              <div class="highlight-circle">
                <div class="circle-background"></div>
                <div class="image-container">
                  <img src="assets/speakers/gartner.jpg" class="rounded-circle speaker-image" alt="Speaker Image">
                </div>
              </div>
          </div>
          <img class="speaker-icon" src="assets/tracks/multicellular.svg" alt="Speaker icon"></img>
        </div>
        <p class="speaker-name text-center">Zev Gartner</p>
        <hr class="speaker-line-multicellular">
        <p class="speaker-affiliation text-center">UCSF</p>
        <p class="speaker-country text-center">USA</p>
      </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center mb-4 speaker-component" id="tung-div" onclick="openModal('modal-tung')">
        <div style="position: relative;">
          <div class="image-container">
              <div class="highlight-circle">
                <div class="circle-background"></div>
                <div class="image-container">
                  <img src="assets/speakers/tung.png" class="rounded-circle speaker-image" alt="Speaker Image">
                </div>
              </div>
          </div>
          <img class="speaker-icon" src="assets/tracks/eco_evo.svg" alt="Speaker icon"></img>
        </div>
        <p class="speaker-name text-center">Jenny Tung</p>
        <hr class="speaker-line-eco-evo">
        <p class="speaker-affiliation text-center">MPI for Evolutionary Anthropology</p>
        <p class="speaker-country text-center">Germany</p>
      </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center mb-4 speaker-component" id="sepela-div" onclick="openModal('modal-sepela')">
        <div style="position: relative;">
          <div class="image-container">
              <div class="highlight-circle">
                <div class="circle-background"></div>
                <div class="image-container">
                  <img src="assets/speakers/sepela.jpeg" class="rounded-circle speaker-image" alt="Speaker Image">
                </div>
              </div>
          </div>
          <img class="speaker-icon" src="assets/tracks/eco_evo.svg" alt="Speaker icon"></img>
        </div>
        <p class="speaker-name text-center">Rebecka Sepela</p>
        <hr class="speaker-line-eco-evo">
        <p class="speaker-affiliation text-center">Harvard University</p>
        <p class="speaker-country text-center">USA</p>
      </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center mb-4 speaker-component" id="dijk-div" onclick="openModal('modal-dijk')">
        <div style="position: relative;">
          <div class="image-container">
              <div class="highlight-circle">
                <div class="circle-background"></div>
                <div class="image-container">
                  <img src="assets/speakers/dijk.jpeg" class="rounded-circle speaker-image" alt="Speaker Image">
                </div>
              </div>
          </div>
          <img class="speaker-icon" src="assets/tracks/integration.svg" alt="Speaker icon"></img>
        </div>
        <p class="speaker-name text-center">Bram van Dijk</p>
        <hr class="speaker-line-integration">
        <p class="speaker-affiliation text-center">MPI for Evolutionary Biology</p>
        <p class="speaker-country text-center">Netherlands</p>
      </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center mb-4 speaker-component" id="engel-div" onclick="openModal('modal-engel')">
        <div style="position: relative;">
          <div class="image-container">
              <div class="highlight-circle">
                <div class="circle-background"></div>
                <div class="image-container">
                  <img src="assets/speakers/engel.jpg" class="rounded-circle speaker-image" alt="Speaker Image">
                </div>
              </div>
          </div>
          <img class="speaker-icon" src="assets/tracks/integration.svg" alt="Speaker icon"></img>
        </div>
        <p class="speaker-name text-center">Ben Engel</p>
        <hr class="speaker-line-integration">
        <p class="speaker-affiliation text-center">Biozentrum Basel</p>
        <p class="speaker-country text-center">Switzerland</p>
      </div>

    <script src="scripts/modal_data.js"></script>
    <script src="scripts/open_modal.js"></script>

</div>