<div class="section-block m-4">
    <h1 class="section-title">THEMES</h1>

    <div class="tracks-header">
        <img class="track-icon" src="assets/tracks/molecular.svg" alt="Evolutionary and ecological consequences"></img>
        <div class="tracks-header-inner">
            <p class="tracks-header-text">Molecular interactions</p>
            <p class="tracks-text">How molecules interact to enable collective behaviour in cells and organisms</p>
        </div>
    </div>

    <div class="tracks-header">
        <img class="track-icon" src="assets/tracks/behaviour.svg" alt="Evolutionary and ecological consequences"></img>
        <div class="tracks-header-inner">
            <p class="tracks-header-text">Cellular behaviour</p>
            <p class="tracks-text">How collective behaviour of cells influences tissue formation and organism morphology</p>
        </div>
    </div>

    <div class="tracks-header">
        <img class="track-icon" src="assets/tracks/multicellular.svg" alt="Evolutionary and ecological consequences"></img>
        <div class="tracks-header-inner">
            <p class="tracks-header-text">Multicellular systems</p>
            <p class="tracks-text">How collective behaviour of organisms arises and influences ecology and evolution</p>
        </div>
    </div>

    <div class="tracks-header">
        <img class="track-icon" src="assets/tracks/eco_evo.svg" alt="Evolutionary and ecological consequences"></img>
        <div class="tracks-header-inner">
            <p class="tracks-header-text">Eco-evolutionary dynamics</p>
            <p class="tracks-text">How collective behaviour affects population dynamics and ecosystems over time</p>
        </div>
    </div>

    <div class="tracks-header">
        <img class="track-icon" src="assets/tracks/integration.svg" alt="Evolutionary and ecological consequences"></img>
        <div class="tracks-header-inner">
            <p class="tracks-header-text">Integration of scales</p>
            <p class="tracks-text">How integrating knowledge from different scales can help us understand of collective behaviour</p>
        </div>
    </div>
    
</div>