@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --ff-body: Work Sans;
  --ff-heading: Rubik, Sans Serif;

  --fs-xl: clamp(3rem, 8vw + 1rem, 10rem); /*min size, scaling, max size*/
  --fs-l: clamp(3rem, 3vw + 1rem, 10rem); /*min size, scaling, max size*/
  --fs-info: clamp(2rem, 2vw + 1rem, 2.5rem); /*min size, scaling, max size*/
  --fs-section-title: clamp(3rem, 4vw + 1rem, 5rem); /*min size, scaling, max size*/
  --fs-faq: clamp(1rem, 1.5vw + 1rem, 3rem); /*min size, scaling, max size*/
}

@media (max-width: 40rem) {
  :root {
    /*--fs-xl: 4rem;*/
  }
}


body {
  background: rgb(126,211,119);
  background: linear-gradient(90deg, rgba(126,211,119,1) 0%, rgba(110,216,143,1) 20%, rgba(113,216,176,1) 40%, rgba(113,216,213,1) 60%, rgba(123,191,225,1) 80%, rgba(134,172,236,1) 100%); 
	background-size: 300% 300%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

.invitation-block {
  background: white;
  text-align: center,left;
  padding: 8vh;
  font-size: 70pt;
}

@keyframes gradient {
	0% {
		background-position: 100% 0%;
	}
	50% {
		background-position: 0% 100%;
	}
  100% {
		background-position: 100% 0%;
	}
}

.navbar {
  background: white;
  padding: 2vh;
  position: fixed;
  z-index: 1000;
} 

.nav-element {
  color: black;
  text-decoration: none;
  font-size: 2vw;
}

.section-block {
  background: white;
  text-align: center, left;
  padding: 4vh;
  font-size: 20pt;
}

.header {
  padding: 10v;
  height: -70vh;
}

.title {
  font-size: var(--fs-xl);
  font-family: var(--ff-heading);
  font-weight: 700;
  padding-top: 15%;
}

.subtitle {
  font-size: var(--fs-l);
  font-family: var(--ff-heading);
  font-weight: 700;
}

.info {
  font-size: var(--fs-info);
  font-family: var(--ff-body);
  font-weight: 300;
  padding-top: 2.5vw;
}

.section-title {
  font-size: var(--fs-section-title);
  font-family: var(--ff-heading);
  font-weight: 400;
  padding-bottom: 2%;
}

.speaker-name {
  font-family: var(--ff-body);
  font-weight: 500;
  font-size: 2vw;
  margin: 1%;
}

.speaker-affiliation {
  font-family: var(--ff-body);
  font-weight: 300;
  font-size: 2vw;
  margin: 0;
}

.faq-question {
  font-family: var(--ff-body);
  font-weight: 300;
  font-size: var(--fs-faq);
}

.faq-answer {
  font-family: var(--ff-body);
  font-weight: 300;
  font-size: var(--fs-faq);
}

.pickupper {
  font-family: var(--ff-body);
  font-weight: 300;
  padding-top: 5vh;
  font-size: 8vw;
}

.speakers {
  padding: 10vh;
}

.footer-container {
    background: white;
}