@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');

/* scaling for mobile */
@media screen and (max-width: 600px) {
  :root {
    --fs-xl: clamp(2rem, 8vw + 1rem, 10rem); /*min size, scaling, max size*/
    --fs-l: clamp(2rem, 3vw + 1rem, 10rem); /*min size, scaling, max size*/
    --fs-info: clamp(1.5rem, 2vw + 1rem, 2.5rem); /*min size, scaling, max size*/
    --fs-section-title: clamp(2rem, 2.5vw + 1rem, 5rem); /*min size, scaling, max size*/
    --fs-faq: clamp(0.8rem, 1vw + 1rem, 2.5rem); /*min size, scaling, max size*/
    --fs-text: clamp(1rem, 0.4vw + 1rem, 3rem); /*min size, scaling, max size*/
    --fs-speaker: clamp(1rem, 0.4vw + 1rem, 3rem); /*min size, scaling, max size*/
    --fs-navbar: clamp(1.5rem, 0.5vw + 1rem, 3rem); /*min size, scaling, max size*/
    --fs-programme: clamp(1rem, 0.5vw + 1rem, 3rem);
    --fs-speaker-abstract: clamp(1rem, 1vw + 0.1rem, 2rem);
  }
} 

:root {
  --ff-body: Work Sans;
  --ff-heading: Rubik, Sans Serif;

  --fs-xl: clamp(3rem, 8vw + 1rem, 10rem); /*min size, scaling, max size*/
  --fs-l: clamp(2rem, 3vw + 1rem, 10rem); /*min size, scaling, max size*/
  --fs-info: clamp(2rem, 2vw + 1rem, 2.5rem); /*min size, scaling, max size*/
  --fs-section-title: clamp(3rem, 2.5vw + 1rem, 5rem); /*min size, scaling, max size*/
  --fs-faq: clamp(0.8rem, 1vw + 1rem, 2.5rem); /*min size, scaling, max size*/
  --fs-text: clamp(1rem, 0.4vw + 1rem, 3rem); /*min size, scaling, max size*/
  --fs-speaker: clamp(1rem, 0.4vw + 1rem, 3rem); /*min size, scaling, max size*/
  --fs-navbar: clamp(1.5rem, 0.5vw + 1rem, 3rem); /*min size, scaling, max size*/
  --fs-programme: clamp(1rem, 0.5vw + 1rem, 3rem);
  --fs-speaker-abstract: clamp(1rem, 1vw + 0.1rem, 2rem);
}

body {
  background: rgb(126,211,119);
  background: linear-gradient(90deg, rgba(126,211,119,1) 0%, rgba(110,216,143,1) 20%, rgba(113,216,176,1) 40%, rgba(113,216,213,1) 60%, rgba(123,191,225,1) 80%, rgba(134,172,236,1) 100%); 
	background-size: 300% 300%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

.invitation-block {
  background: white;
  text-align: center,left;
  padding: 8vh;
  font-size: 70pt;
}

@keyframes gradient {
	0% {
		background-position: 100% 0%;
	}
	50% {
		background-position: 0% 100%;
	}
  100% {
		background-position: 100% 0%;
	}
}

.nav-link {
  font-size: var(--fs-navbar);
  font-family: var(--ff-body);
}

.section-block {
  background: white;
  text-align: center, left;
  padding: 4vh;
  font-size: 20pt;
}

.header {
  padding-top:8vh;
  margin: 1.5rem;
}

.title {
  font-size: var(--fs-xl);
  font-family: var(--ff-heading);
  font-weight: 700;
  padding-top: 7vh;
  text-align: left;
}

.subtitle {
  font-size: var(--fs-l);
  font-family: var(--ff-heading);
  font-weight: 700;
  text-align: left;
  padding-top: 3vh;
}

.info {
  font-size: var(--fs-info);
  font-family: var(--ff-body);
  font-weight: 300;
  padding-top: 3vh;
  text-align: left;
}

.register-button {
  border: 2px solid white;
  border-radius: 15px;
  background-color: transparent;
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 4vh;
  font-size: var(--fs-info);
  cursor: pointer;
}

.register-button:hover {
  background-color: white;
  color: black;
}

.section-title {
  font-size: var(--fs-section-title);
  font-family: var(--ff-heading);
  font-weight: 400;
  padding-bottom: 2%;
}

.speaker-line {
  width: 50%;
  background-color: darkgray;
  margin: 3%;

}

.speaker-image {
  width: clamp(7rem, 14vw + 1rem, 13rem);
}

.img-cover{
  object-fit: cover;
  object-position: center;
}

.speaker-name {
  font-family: var(--ff-body);
  font-weight: 500;
  font-size: var(--fs-speaker);
  margin: 1%;
}

.speaker-affiliation {
  font-family: var(--ff-body);
  font-weight: 300;
  font-size: var(--fs-speaker);
  margin: 0;
}

.speaker-country {
  font-family: var(--ff-body);
  font-weight: 300;
  font-size: var(--fs-speaker);
  font-style: italic;
  margin: 0;
}

.speaker-popover {
  /* Add your styles here */
  background-color: #f8f9fa;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 45vw;
  font-family: var(--ff-body);
  font-weight: 300;
  font-size: var(--fs-speaker-abstract);
}

.speaker-popover .arrow::after {
  border-bottom-color: rgba(113, 216, 176, 1) !important;
}

.speaker-popover .popover-header {
    background-color: rgba(113, 216, 176, 1);
    color: #fff;
    text-align: center;
    font-family: var(--ff-body);
    font-weight: 500;
    font-size: var(--fs-speaker);
  }

.speaker-popover .popover-header::before {
    content: none;
  }

/* Custom CSS for positioning arrow */
.speaker-popover .arrow {
  color: rgba(113, 216, 176, 1);
  left: 50% !important;
  margin-left: -5px !important;
}

.programme-bg {
  width: clamp(12rem, 20%, 25rem);
  height: fit-content;
  justify-content: center;
  flex-shrink: 0;
}

.programme-admin {
  background-color: rgba(234,190,124,1);
}

.programme-talk {
  background-color: rgba(113,216,176,1);
}

.programme-break {
  background-color: rgba(148,176,218,1);
}

.programme-time {
  font-family: var(--ff-body);
  font-weight: 400;
  font-size: var(--fs-programme);
  color: white;
  margin: 0px;
}

.programme-content {
  font-family: var(--ff-body);
  font-weight: 400;
  font-size: var(--fs-programme);
  color: black;
  margin-left: 0.5vw;
  margin-bottom: 0.5vw;
}


.faq-question {
  font-family: var(--ff-body);
  font-weight: 300;
  font-size: var(--fs-faq);
}

.faq-answer {
  font-family: var(--ff-body);
  font-weight: 300;
  font-size: var(--fs-text);
  line-height: 1.2em;
  text-align: justify;
}

.pickupper {
  font-family: var(--ff-body);
  font-weight: 300;
  padding-top: 5vh;
  font-size: 8vw;
}

.speakers {
  padding: 10vh;
}

.footer-container {
  background: white;
  display: flex;
  justify-content: space-around;
}

.social-media-container {
  margin-right: 5%;
  margin-left: 5%;
  background: white;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style all font awesome icons */
.fa {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  text-decoration: none
}

/* Set a specific color for each brand */
.fa-twitter {
  color: rgba(126,211,119,1);
}

.fa-instagram {
  color: rgba(110,216,143,1);
}

.fa-linkedin {
  color: rgba(113,216,176,1);
}

.fa-envelope {
  color: rgba(113,216,213,1);
}

:target::before {
  content: "";
  display: block;
  height: 90px; /* fixed header height*/
  margin: -90px 0 0; /* negative fixed header height */
}